* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

.all-content {
  background-color: #f7f5f2;
}

html ::webkit-scrollbar-track {
  background: transparent;
}

html ::webkit-scrollbar-thumb {
  background: #b2744c;
  border-radius: 10px;
}

html ::-webkit-scrollbar {
  width: 10px;
}


/* video */
#myVideo {
  /* position: fixed;
  right: 0;
  bottom: 0; */
  /* min-width: 100%;
  min-height: 100%; */
  /* z-index: -1;
  filter: blur(2px);
  object-fit: cover; */
}

body {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

}



/* video */

/* Navbar starts */
#navbar {
  background-color: #b2744c;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;

}

#logo img {
  border-radius: 10px;
  /* width: 160px;
  height: 50px; */
  margin-left: 40px;
}

.logo-txt {
  font-size: 30px;
  color: white;
  font-family: cursive;
  font-style: italic;
}

.navbar-nav {
  margin-left: 50px;

}

.nav-item .nav-link {
  color: white;
  margin-left: 10px;
  transition: 0.5s;
  font-size: 23px;
  font-family: math;
}

.nav-item .nav-link:hover {
  color: black;
  background-color: white;
  border-radius: 5px;
}

#navbar form button {
  background-color: black;
  color: white;
  border: 1px solid white;
}

/* Navbar ends */

/* Home section starts here */
#home {
  width: 100%;
  height: 90vh;
  color: black;
  position: absolute;
  top: 10%;

  z-index: 100;
  margin: 12px auto;
}

#home .content {
  padding-top: 210px;
  margin-left: 56px;


}

#home .content h3 {
  font-size: 50px;
  color: white;

}

#home .content p {
  z-index: 1000;

  margin-top: 10px;
  color: black;
  font-size: 19px;
  line-height: 25px;

  padding: 2px 12px;
  background: rgba(176, 172, 172, 0.5);

  border-radius: 5px;
}

#btn {
  width: 150px;
  height: 36px;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
  font-size: 20px;
  width: 40%;
  font-family: 'Courier New', Courier, monospace;
}

#btn:hover {
  background-color: #b2744c;
  color: white;
}

/* Home section ends here */

/* about section starts here */
#about {
  width: 100%;
  /* height: 100vh; */
}

#about .container {
  padding-top: 70px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-size: 50px;
  font-weight: bold;
  font-family: math;

}

.heading span {
  color: #b2744c;
}

#about .card {
  border-radius: 10px;
}

#about .card img {
  border-radius: 10px;
}

#about p {
  font-family: math;
  color: brown;
}

#about-btn {
  width: 200px;
  height: 36px;
  background: transparent;
  border: 2px solid #b2744c;
  color: #b2744c;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

#about-btn:hover {
  background-color: #b2744c;
  color: white;
}

@media screen and(max-width:982px) {
  #about p {
    font-size: 8px;
  }
}

@media screen and(max-width:766px) {
  #about p {
    font-size: 15px;

  }

  #about {
    height: 120vh;
  }
}

/* about section ends here */

/* top cards starts */
#top-cards {
  width: 100%;
  background: #f7f5f2;
  margin-top: 4%;

}

.heading2 {
  color: black;
  text-align: center;


  font-size: 50px;
  font-weight: bold;
  font-family: math;

}

.heading2 span {
  color: #b2744c;
}

#top-cards .container {
  margin-top: 30px;
}

#top-cards .card {
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

#top-cards .card img {
  border-radius: 10px;
  height: 250px;
}

#top-cards .card:hover {
  transform: translateY(-10px);
}

/* top ends starts */


/* menu starts */
#menu {
  width: 100%;
  margin-top: 60px;
}

.heading3 {
  text-align: center;

  color: #b2744c;

  border-bottom: 2px solid #b2744c;
  margin-bottom: 12px;

  font-size: 50px;
  font-weight: bold;
  font-family: math;
}

.container2 {
  margin-top: 50px;
}

#menu .card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


}

#menu .card:hover {
  margin-top: 15px;
  transition: 0.5s;
}

#menu .card img {
  height: 300px;
}



.star li {
  color: #b2744c;
}

#menu h3 {
  text-align: center;
  color: #b2744c;
  margin-top: 10px;
  font-size: 25px;
}

#menu p {
  font-size: 16px;
  color: #b2744c;
  padding-top: 10px;

}

#menu p span {
  float: right;
  cursor: pointer;
}

/* menu ends */




/* Our gallery starts */
#gallery {
  width: 100%;
}

.heading5 {
  text-align: center;
  color: black;
  margin-top: 60px;


  font-size: 50px;
  font-weight: bold;
  font-family: math;
}

#gallery .heading5 span {
  color: #b2744c;
}

#gallery .card {
  border-radius: 10px;
  cursor: pointer;
}


#gallery .card img {
  border-radius: 10px;
  cursor: pointer;


}

.gallary-img {
  height: 400px;

}

.gallary-img:hover {
  /* height: 300px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.5s;
}

/* Our gallery ends */

/* Contact section starts here */

#contact {
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  font-family: math;

}

#contact .container {
  width: 100%;
  height: 100vh;
  padding-top: 70px;

}

#contact .container {
  width: 100%;
  height: 80vh;
  background: linear-gradient(90deg, white 80%, #b2744c 20%);
  border-radius: 10px;
}

.heading6 {
  margin-top: 70px;
  font-size: 50px;
  font-weight: bold;



}

.heading6 span {
  color: #b2744c;
}

#contact p {


  font-size: 21px;
  color: black;
}

#contact input {
  width: 360px;
  border: none;
  border-bottom: 1px solid #b2744c;
  font-size: 20px;
  box-shadow: none;
}


#contact-btn {
  border: none;
  background-color: #b2744c;
  color: white;
  font-weight: bold;
  margin-top: 17px;
  cursor: pointer;
  font-size: 25px;
  padding: 2px 12px;
  text-align: center;
  border-radius: 5px;
}

#col {
  width: 40%;
  height: 40vh;
  background-color: black;
  margin-top: 78px;
}

#col i {
  margin-right: 2px;
  font-size: 24px;
}

#contact h1 {
  color: white;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
}

#contact #col p {
  font-size: 15px;
  color: white;
  margin-left: 13px;
  /* margin-top: 30px; */
  font-size: 20px;
  font-weight: 100;
}

@media screen and (max-width:766px) {
  #contact .container {
    background: white;
  }

  #col {
    width: 100%;
    background: #b2744c;
  }

  #contact {
    height: 150vh;
  }

}

@media screen and (max-width:400px) {
  #contact input {
    width: 250px;
  }

}

/* Contact section ends here */

/* Blogs starts here */

#blogs {
  width: 100%;
}

#blogs .heading7 {
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: bold;
  font-size: 50px;
  font-weight: bold;
  font-family: math;
}

#blogs .heading7 span {
  color: #b2744c;
}

#blogs .container {
  margin-top: 20px;
  font-family: sans-serif;
}

#blogs h5 {
  color: #b2744c;
  font-weight: bold;
  font-family: math;
}

#blogbtn {
  width: 200px;
  height: 36px;
  border: none;
  color: white;
  background: #b2744c;
  cursor: pointer;
}

/* Blogs ends here */

/* footer satrts here */
#footer {
  width: 100%;
  background-color: #b2744c;
  margin-top: 50px;
}

.footer-logo img {
  /* width: 180px; */
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

#footer .social-links i {
  font-size: 17px;
  margin-left: 10px;

  padding: 10px;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
}

.credits {
  color: white;
  margin-top: 13px;
  text-shadow: 0px 0px 1px black;
  font-size: 21px;
}

.credits a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

#credits a span {
  color: black;
}

.copyright span {
  color: black;
}

/* footer ends here */

html {
  scroll-behavior: smooth;
}

.arrow {
  position: fixed;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-align: center;
  line-height: 50px;
}

.copyright {
  font-size: 20px;
}

.copyright span {
  font-size: 25px;
  color: white;
  font-style: italic;
}